{{- $releaseName := .Release.Name -}}
{{- $chartName := include "geocoding-enrichment.name" . -}}
{{- $cloudProviderFlavor := include "geocoding-enrichment.cloudProviderFlavor" . -}}
{{- $cloudProviderDockerRegistryUrl := include "geocoding-enrichment.cloudProviderDockerRegistryUrl" . -}}
{{- $tag := include "geocoding-enrichment.tag" . -}}
{{- if .Values.enabled -}}
apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ $releaseName }}-{{ $chartName }}
  labels:
    app: {{ $chartName }}
    component: {{ $chartName }}
    environment: {{ include "geocoding-enrichment.environment" . }}
    release: {{ $releaseName }}
    {{- include "geocoding-enrichment.labels" . | nindent 4 }}
{{- with .Values.annotations }}
  annotations:
{{ toYaml . | indent 4 }}
{{- end }}
spec:
  replicas: {{ .Values.replicaCount }}
  selector:
    matchLabels:
      app: {{ $chartName }}
      release: {{ $releaseName }}
      run: {{ $releaseName }}-{{ $chartName }}
      {{- include "geocoding-enrichment.selectorLabels" . | nindent 6 }}
  template:
    metadata:
      labels:
        app: {{ $chartName }}
        release: {{ $releaseName }}
        run: {{ $releaseName }}-{{ $chartName }}
        {{- include "geocoding-enrichment.selectorLabels" . | nindent 8 }}
{{- with .Values.podAnnotations }}
      annotations:
{{ toYaml . | indent 8 }}
{{- end }}
    spec:
    {{- if .Values.pullSecret }}
      imagePullSecrets:
        - name: {{ .Values.pullSecret }}
    {{ end }}
      containers:
        - name: {{ $releaseName }}-{{ $chartName }}-deployment
          {{- with .Values.image }}
          {{- if ne $cloudProviderFlavor "minikube" }}
          image: {{ $cloudProviderDockerRegistryUrl }}/{{ .repository }}:{{ $tag }}
          {{- else }}
          image: {{ .repository }}:{{ $tag }}
          {{- end }}
          {{- end }}
          volumeMounts:
            {{- if .Values.kafka.sslAuth.enabled }}
            - name: cert-conf-kafka
              mountPath: {{ .Values.kafka.sslAuth.certDir }}
              readOnly: true
            {{- end }}
          env:
            - name: SERVER_PORT
              value: {{ .Values.env.targetPort | quote }}
          envFrom:
            - configMapRef:
                name: {{ $releaseName }}-{{ $chartName }}-configmap
            - secretRef:
                name: {{ $releaseName }}-{{ $chartName }}-secret
          ports:
            - name: http
              containerPort: {{ .Values.env.targetPort }}
              protocol: {{ .Values.env.protocol }}
          livenessProbe:
            initialDelaySeconds: {{ .Values.initialDelaySeconds }}
            httpGet:
              path: /liveness
              port: http
          {{- if .Values.resources.enabled }}
          resources:
            {{- toYaml .Values.resources.value | nindent 12 }}
          {{- end }}
      volumes:
      {{- if .Values.kafka.sslAuth.enabled }}
      - name: cert-conf-kafka
        secret:
          secretName: {{ .Values.kafka.sslAuth.secretName }}
      {{- end }}
{{- end -}}